# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
env/

# Ignore large model files or datasets
*.h5
*.keras
*.pkl

# Ignore the dataset directory (if you're not uploading the dataset to GitHub)
monkey_dataset/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore any other files you don't want to commit
